<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="columns is-multiline is-mobile">
    <div class="column is-half">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input is-primary" %>
      </div>
    </div>
    <%= content_tag(:div, "", class: "column is-half") %>
    
    <div class="column is-half">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", class: "input is-primary" %>
      </div>
    </div>
    <%= content_tag(:div, "", class: "column is-half") %>

    <div class="column is-one-quarter">
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "input is-primary" %>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-primary" %>
      </div>
    </div>
    <%= content_tag(:div, "", class: "column") %>
  </div>
  
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <label class="checkbox">
        <%= f.check_box :remember_me %>
        Remember me on this computer
      </label>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up", class: "button is-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
