<% provide(:title, @group.name) %>

<section class="section">
  <div class="columns">
    <div class="column is-half">
      
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-128x128">
              <% if @group.avatar? %>
                <%= image_tag  @group.avatar.url %>
              <% else %>
                <%= image_tag 'blank_profile_picture'   %>
              <% end  %>
            </figure>
          </div>
          <div class="media-content has-text-right">
            <div class="content">
              <%= content_tag :h1, @group.name,                      class: "title is-1" %>
              <%= content_tag :h6, @group.description,               class: "subtitle is-6" %>
              <%= content_tag :h6, "Objective: #{@group.objective}", class: "is-marginless has-text-weight-light" %><br />
              <%= link_to members_group_path do %>
                <%= content_tag :button,
                   "Members (#{@group.confirmed_members.count})", 
                    class: "button is-primary" %>
              <% end %>
            </div>
          </div>
        </article>
      </div>
      
      <%= content_tag :hr, "", class: "hr" %>
      
      <% if @group.photos.any? %>
        <div class="box">
          <%= render 'shared/photo_preview', photos: @group.photos %>
        </div>
      <% end %>
      
      <div class="box">
        <div class="columns">
          <div class="column is-half">
            <div class="box">
              <%= render 'albums/add_photo', postable: @group %>
            </div>
          </div>
          <% if current_user == @group.leader %>
            <div class="column is-half">
              <div class="box">
                <%= link_to "Edit Group Info",
                    edit_group_path(@group), 
                    class: "button is-primary is-outlined is-fullwidth" %>
              </div>
              <div class="box">
                <%= link_to unconfirmed_members_group_path do %>
                  <%= content_tag :button, 
                     "Unconfirmed Members (#{@group.unconfirmed_members.count})", 
                      class: "button is-primary is-outlined is-fullwidth" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="column is-half">
      <div class="box">
        <table class="table is-striped is-hoverable is-fullwidth">
          <thead>
            <%= content_tag :h3, "Discussions", class: "title is-3" %>
            <%= link_to "Create Discussion", new_discussion_url(group_id: @group.id), class: "button is-primary"%>
            <th style="width: 170px; vertical-align: middle;">Title</th>
            <th style="vertical-align: middle;">Last Message</th>
            <th style="width: 110px; vertical-align: middle;" class="has-text-centered">sent at</th>
            <th style="width: 110px; vertical-align: middle;" class="has-text-centered">by</th>
          </thead>
          <tbody>
            <% @discussions.each do |discussion| %>
              <tr>
                <td style="width: 170px; vertical-align: middle;">
                  <%= link_to discussion do %>
                    <%= content_tag :p, discussion.title, class: "is-size-6 has-text-weight-semibold" %>
                  <% end %>
                </td>
                <% if discussion.messages.any? %>
                  <td style="vertical-align: middle;">
                    <%= content_tag :p, 
                    discussion.messages.last.content, 
                    class: "has-text-grey is-size-6" %>
                  </td>
                  <td style="width: 110px; vertical-align: middle;" class="has-text-centered">
                    <%= content_tag :p, time_ago_in_words(discussion.messages.last.created_at), class: "is-size-6" %>
                  </td>
                  <td style="width: 110px; vertical-align: middle;" class="has-text-centered">
                    <%= content_tag :p, discussion.messages.last.user.name, class: "is-size-6" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div class="box">
        <div class="request_membership is-flex">
          <%= render 'request_membership_button', group: @group %>
        </div>
      </div>
    </div>
  </div>
</section>