<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: "input is-primary" %>
      </div>
    </div>
    
    <div class="column">
      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email, class: "input is-primary" %>
      </div>    
    </div>
    <%# 3 empty columns to bring the form's fields together on the page %>
    <div class="column">
    </div>
    <div class="column">
    </div>
    <div class="column">
    </div>
  </div>

    <div class="actions">
      <%= form.submit("Sign up!", class: 'button is-primary') %>
    </div>
<% end %>
