<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prevented you from signing up! </h2>

      <div class="notification is-danger">
        <button class="delete"></button>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      
    </div>
  <% end %>
  
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: "input is-primary" %>
      </div>
    </div>
    
    <div class="column">
      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email, class: "input is-primary" %>
      </div>    
    </div>
    
    <%# 3 empty columns push the entry fields to the left %>
    <%= content_tag(:div, "", class: "column") %>
    <%= content_tag(:div, "", class: "column") %>
    <%= content_tag(:div, "", class: "column") %>
  </div>

  <div class="actions">
    <%= form.submit("Sign up!", class: 'button is-primary') %>
  </div>
<% end %>
