<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<div class="columns">
  <div class="column is-one-third">
    <div class="container">
      <%= render 'shared/user_card', user: @user %>
    </div>
    <div class="container">
      <%= render 'profile_info_card', user: @user %>
    </div>
  </div>
  <div class="column is-two-thirds">
    <div class="container">   
      <% if @user.posts.any? %>
        <ul class="posts">
          <%= render @posts %>
        </ul>
        <%= will_paginate @posts, renderer: BulmaPagination::Rails, class: 'is-primary' %>
      <% end %>
    </div>
  </div>
</div>