<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <% if user.profile_picture? %>
            <%= image_tag user.profile_picture.url, size: "48x48" %>
          <% else %>
            <%= image_tag  'blank_profile_picture', size: "48x48" %>
          <% end  %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= link_to user.name, user %></p>
        <p class="subtitle is-6"><%= user.email %></p>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <% card_footer_items(user).each do |item| %>
      <p class="card-footer-item is-family-primary">
        <span class="subtitle is-6">
          <%= item %>
        </span>
      </p>
    <% end %>
    <% if user != current_user %>
      <div class="card-footer-item is-family-primary">
        <%= render 'friend_request_form', user: user %>
      </div>
    <% end %>
  </footer>
</div>