<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="columns is-multiline is-mobile">
    <div class="column is-one-quarter">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-primary" %>
      </div>
    </div>
    <%= content_tag(:div, "", class: "column is-three-quarters") %>

    <div class="column is-one-quarter">
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input is-primary" %>
      </div>
    </div>
    <%= content_tag(:div, "", class: "column is-three-quarters") %>
  </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <label class="checkbox">
          <%= f.check_box :remember_me %>
          Remember me on this computer
        </label>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "button is-primary" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
