<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @photo.album %>
</p>

<p>
  <strong>Photo data:</strong>
  <%= @photo.photo_data %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>