<% if @photo.id %>
  <div class="columns">
    <%= content_tag :div, "", class: "column is-one-third" %>
    <div class="column is-two-thirds">
      <%= render 'photos/photo_card',       photo: @photo, edit: "off" %>
      <%= render 'shared/content_footer', content: @photo, creator: @photo.photo_attachable %>
    </div>
  </div>
<% end %>

<div class="columns">
  <div class="column is-one-third">
    <%= render 'shared/liked_by_users', resource: @photo %>
  </div>
  <div class="column is-two-thirds">
    <%= render 'shared/comment_feed', comments: @comments %>
    <%= render 'shared/comment_form', resource: @photo %>
  </div>
</div>