<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <% author = post.postable %>
        <% if author.profile_picture? %>
          <%= image_tag author.profile_picture.url, size: "64x64" %>
        <% else %>
          <%= image_tag  'blank_profile_picture', size: "64x64" %>
        <% end  %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= author.name %></strong>
          <small><%=  author.email %></small><br />
          <small><%=  time_ago_in_words(post.created_at) %> ago</small><br />
          <div class="post-content">
            <%= post.content %><br />
            <% if post.photo %>
              <%= image_tag post.photo.photo_data.url %>
            <% end %>
          </div>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="buttons are-small">
          <%  normal_button = "button is-light has-text-success"  %>
          <%= link_to "Like",           '#', class: normal_button %>
          <%= link_to "Comment",        '#', class: normal_button %>
          <%= link_to "Follow",         '#', class: normal_button %>
          <%= link_to "Friend Request", '#', class: normal_button %>
          <% if author == current_user %>
            <%= link_to "Delete", post, method: :delete, class: "button is-light has-text-danger" %>
          <% end %>
        </div>
      </nav>
    </div>
  </article>
</div>