<div class="columns">
  <div class="column is-one-third">
    <%= render 'shared/user_card', user: @author %>
  </div>
  <div class="column is-two-thirds">
    <%= render 'post', post: @post %>
  </div>
</div>

<%= content_tag :hr, "", class: "hr" %>

<div class="columns">
  <div class="column is-one-third">
    <%= render 'shared/liked_by_users', resource: @post %>
  </div>
  <div class="column is-two-thirds">
    <%= render 'shared/comment_feed', comments: @comments %>
    <%= render 'shared/comment_form', resource: @post %>
  </div>
</div>