<header>
  <div class="container">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to image_tag("logo.png"), root_path, id: "navbar-logo" %>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarTop">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarTop" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Friends",   '#', class: "navbar-item" %>
          <%= link_to "Pages",     '#', class: "navbar-item" %>
          <%= link_to "Groups",    '#', class: "navbar-item" %>

          <div class="navbar-item has-dropdown is-hoverable">
            <%= content_tag "a", 'More', class: "navbar-link" %>

            <div class="navbar-dropdown">
              <%= link_to "About",   about_path,   class: "navbar-item" %>
              <%= link_to "Help",    help_path,    class: "navbar-item" %>
              <%= link_to "Contact", contact_path, class: "navbar-item" %>
              <hr class="navbar-divider">
              <%= content_tag "a", 'Report an issue', class: "navbar-item" %>
            </div>
            
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Sign up", new_user_registration_path, class: "button is-primary" %>
              <%= link_to "Log in",  new_user_session_path,      class: "button is-light" %>
            </div>
          </div>
        </div>
        
      </div>
    </nav>
  </div>
</header>