<header>
  <div class="container">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to image_tag("logo.png"), root_path, id: "navbar-logo" %>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarTop">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarTop" class="navbar-menu">
        <div class="navbar-start">
          <% if user_signed_in? %>
            <%= link_to "Friends",      friends_user_path(current_user), class: "navbar-item" %>
            <%= link_to "Albums",        albums_user_path(current_user), class: "navbar-item" %>
            <%= link_to "Pages", followed_pages_user_path(current_user), class: "navbar-item" %>
            <%= link_to "Groups", joined_groups_user_path(current_user), class: "navbar-item" %>
            <%= link_to "Direct Messages",         direct_messages_path, class: "navbar-item" %>
          <% else %>
            <%= link_to "Help",          help_path, class: "navbar-item" %>
            <%= link_to "About Us",     about_path, class: "navbar-item" %>
            <%= link_to "Contact",    contact_path, class: "navbar-item" %>
          <% end %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to "Edit Profile", edit_user_registration_path, 
                    class: "button is-primary" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, 
                    class: "button is-light" %> 
              <% else %>
                <%= link_to "Sign up", new_user_registration_path, 
                    class: "button is-primary" %>
                <%= link_to "Log in", new_user_session_path,
                    class: "button is-light" %>
              <% end %>
            </div>
          </div>
        </div>
        
      </div>
    </nav>
  </div>
</header>